.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

.login-content form dl dd {
    margin-bottom: 15px;
}

.login-content .sns button {
    background: none;
    border: none;
    cursor: pointer;
}

.login-content .sns button img {
    width: 30px;
    height: 30px;
}