.contact-box{
    width: 70%;
    margin: 5% auto;
    border-radius: 15px;
    border: 1px solid;
}

.contact-box h2{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid;
}

.contact-box dd{
    font-size: 1.2rem;
}

.contact-box dt{
    margin-top: 50px;
    border-bottom: 1px solid;
}

.button{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.contact-box button{
    color: white;
    background-color: rgb(215, 4, 102);
    width: 90%;
    font-size: 1.2rem;
    padding: 10px 3px;
    border-radius: 8px;
    border: 0;
}