header{
    position: fixed;
    width: 100%;
    z-index: 999;
}


.logo img{
    margin-left: 45px;
}
  


.hea-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hea-text a{
    color:white;
    text-decoration: none;
    margin-left: 50px;
    margin-top: -15px;
}

.sign a{
    color: white;
    text-decoration: none;
    position: absolute;
    top: 45%;
    left: 90%;
}

header.scrolled {
    background-color: black; 
    opacity: 0.8;
    top: 0;
}